*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(0, 150, 136, 1);
    height: 17vh;
    padding-top: 2vh;
}
main{
    background-color: rgba(220, 219, 210, 1);
    height: 83vh;

}
.h_15{
    height: 15vh;
    background-color: rgba(229, 229, 229, 1);
}
img{
    width: 55px;
    height: 55px;
}
i{
    font-size: 1.5rem;
}
.color_grey {
    color: rgba(177, 177, 177, 1);
}

/* main */
.col-12 > input {
    width: 280px;
}
.text_link{
    text-decoration: underline;
}
.bg_celeste {
    background-color: rgba(142, 218, 252, 1);
}
.color_celeste {
    color: rgba(142, 218, 252, 1);
}
.bg_white_special {
    background-color: rgba(250, 250, 250, 1);
}
.style_none {
    border-style: none;
}
.contact{
    background-color: white;
    cursor: pointer;
}
.contact:hover {
    background-color: rgba(233, 235, 235, 1);
}
/* second main */
.chat_box {
    background-image: url('../img/mine.jpg');
    height: 518.400px;
    width: 100%;
}
/* input chat */
.bg_white_special_2{
    width: 100%;
    background-color: rgba(243, 238, 234, 1);
}
.chat_message {
    height: calc(100% - 72px);
}
.input_chat{
    height: 72px;
}
.input_chat > input {
    padding: 1rem;
    width: 670px;
    
}
.color_grey_dark{
    color: rgba(107, 115, 118, 1);
}
.bg_green {
    background-color: rgba(213, 249, 186, 1);
}
.msj {
    width: 250px;
}
.rounded_special{
    border-radius: 12px;
}